Options -MultiViews
RewriteEngine On

# Saat dizini için özel kural
RewriteRule ^saat($|/) - [L]

# Diğer tüm istekler için ana uygulama yönlendirmesi
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L] 